[user]
    email = andy.galkin@gmail.com
    name = Andy Galkin
[pull]
    ff = only
[status]
    short = true
[fetch]
    prune = true
[alias]
    wd = diff --color-words --word-diff-regex=\".\"
[core]
    editor = vim
[rerere]
    enabled = true
    autoupdate = true
[log]
    abbrevCommit = true
[rebase]
	instructionFormat = [%ai] %s
