configuration {
  modi: "combi";
  combi-modi: "window,drun,run,ssh";
  font: "Iosevka Light 20";
  show-icons: true;
  window-format: "{t:65} {w} {n}";
  combi-hide-mode-prefix: true;
  window-thumbnail: true;
}

@theme "solarized"

textbox-prompt-colon {
  str: "❯";
}

element-icon {
  size: 1.25em;
}

inputbar {
  children: [textbox-prompt-colon, entry, icon-current-entry, case-indicator];
}

