configuration {
  modi: "combi";
  combi-modi: "window,drun,ssh";
  font: "Iosevka Light 22";
  show-icons: true;
  window-format: "{t:75} {w} {n}";
  combi-hide-mode-prefix: true;
  window-thumbnail: true;
}

@theme "solarized"

textbox-prompt-colon {
  str: "❯";
}

